.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.25rem 0;
}

.logo-container {
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: var(--color-primary);
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    display: flex;

}

.div-inside-ul {
    display: flex;
    gap: 80px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    color: var(--text-grey);
    font-size: 1.25rem;
    font-weight: 600;
}

.menue-bar {
    display: none;
}


.hide-btn {
    display: none;
}

.side-menu-top-bar {
    display: none;
}


@media screen and (max-width: 768px) {

    .nav-section {
        z-index: 1500;
        background-color: aliceblue;
        padding-bottom: 6px;
        position: sticky;
        top: 0;
    }

    .side-menu-top-bar {
        display: flex;
        position: absolute;
        top: 40px;
        width: calc(100% - 20px);
        justify-content: space-between;

    }

    .nav-items {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        align-items: center;
        padding-top: 100px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 2000;
        transition: left 0.35s ease;
    }



    .div-inside-ul {
        flex-direction: column;
    }

    .hide-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 20px);
        bottom: 50px;
    }

    .nav-items-active {
        left: 0;
    }

    .cross-icon-btn {
        position: absolute;
        right: 10px;
        top: 40px;
    }

    .menu-cross-icon {
        font-size: 2rem;
    }

    .contct-btn {
        display: none;
    }

    .menue-bar {
        display: block;
        color: #00113B;
        border: none;
        background: transparent;
    }

    .menu {
        font-size: 2.5rem;
    }

    .side-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-nav li a {
        color: #00113B;
    }

}