.slider-container {
    margin: 100px 0;
}

.slideBox {
    border-radius: 12px;
    width: 100%;
    height: 550px;
    background: orange;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-content .content {
    text-align: center;
    max-width: 1040px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.middle-content .content .person-details {
    font-size: 1.5rem;
    text-align: center;
}

.icons {
    font-size: 3rem;
}

.leftIcon {
    position: absolute;
    left: 5%;
    color: white;
    cursor: pointer;
}

.top-icon {
    font-size: 3rem;
    color: white;
}

.rightIcon {
    position: absolute;
    right: 5%;
    color: blue;
    cursor: pointer;
}

.sliderBootomTracker {
    display: flex;
    gap: 5px;
}

.tracker-slide {
    width: 1rem;
    height: 5px;
    border-radius: 12px;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.tracker-slide.active-tracker {
    background-color: white;
}

@media screen and (max-width:767.98px) {
    .middle-content .content {
        max-width: 240px;
        font-size: 1rem;
    }

    .icons {
        font-size: 2rem;
    }
}